:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 3000px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/backgroundhomeygbaru.png);
    background-size: cover;
    background-position: center;
    /* Menyesuaikan gambar latar belakang agar tidak terpotong */
    z-index: -1;
    filter: grayscale();
}

.hero {
    position: relative;
    min-height: 100vh;
}


.hero h1,
.hero h4,
.hero p {
    text-shadow: var(--shadow);
    color: #000000;
}

.hero h4 {
    font-size: 1.8rem;
}

.hero h1 {
    font-family: "Sacramento", cursive;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--bg);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--bg);
    color: white;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-tittle {
    font-family: "Sacramento", cursive;
    font-size: 3.2rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.home {
    background-image: url(img/backgroundhomeygbaru.png);
    background-size: cover;
    background-position: center;
    min-height: 120vh;
    margin-top: -6rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

/* CSS untuk memastikan gambar berada di tengah kolom secara horizontal */
.couple .col-12 {
    text-align: center;
}

.couple img {
    display: inline-block;
}



.home h2 {
    color: var(--bg);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.home h3 {
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: #313131;
}

.info {
    background-image: url(img/backgroundhomeygbaru.png);
    background-size: cover;
    background-position: center;
    min-height: 120vh;
    margin-top: -6rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.info h2 {

    font-family: 'Sacramento';
    font-size: 6rem;
    font-weight: bold;

}

.info a {
    font-size: 1.5rem;
}

.info .alamat {
    font-size: 1.1rem;
    font-weight: 350S;
}

.info .description {
    font-size: 1rem;
    font-weight: 800;
}

.closing {
    background-image: url(img/backgroundhomeygbaru.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin-top: -3rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
}

.closing h2 {

    font-family: 'Sacramento';
    font-size: 6rem;
    font-weight: bold;

}

/* media query */
/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .simply-countdown>.simply-section {
        padding: 70px;
    }
}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown>.simply-section {
        padding: 70px;
        margin: 5px;
    }

    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }
}

.simply-countdown>.simply-section {}

/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }

    .simply-countdown>.simply-section {
        padding: 45px;
        margin: 3px;
    }
}